.head {
  padding: 10px 0px;
  background-color: White;
  color: black;
  display: flex;
  justify-content: space-between;
  z-index: 997;

  .title{
    color: #707070;
    margin: 0;
  }
  .bnt{
    width: 150px;
  }
}
