.header {
  padding: 0 15px;
  align-items: center;
  background-color: White;
  color: black;
  display: flex;
  height: 100px;
  justify-content: space-around;
  width: 100%;
  height: 10%;
  z-index: 997;

  .title{
    color: #707070;
    margin: 0;
  }
}
