.leaflet-left .leaflet-control {
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
}

.sr-only {
  display: none;
}
.leaflet-control-attribution.leaflet-control a{
  display: none;
}

.leaflet-control-attribution{
  display: none;
}
